@font-face { font-family: 'BRBA_B'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRBA_B.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'SDMiSaeng'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'GoyangIlsan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff'); font-weight: normal; font-style: normal;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
 /* background: radial-gradient(white, #FFA328);*/
  background-image: url('../images/background.jpg');
  background-position : center;
  background-size: 97%;
}

 .container {
   position: absolute;
   top:50%; left:50%;
   transform: translate(-50%, -50%);
 }

 .descript{
   text-align: center;
    font-family: 'GoyangIlsan', sans-serif;
    font-size: 0.7em;
    color:#5D5D5D;
 }
 .logintitle{
    font-family: 'BRBA_B';
    font-size: 1em;
    color:#000;
 }
 @media ( max-width: 576px ) {
   body {
     font-family: "Helvetica Neue", Helvetica, sans-serif;
    /* background: radial-gradient(white, #FFA328);*/
     background-image: url('../images/background.jpg');
     background-position : center;
     background-repeat : no-repeat;
     background-size:cover;
   }
   .logintitle{
     text-align: center;
      font-family: 'BRBA_B';
      font-size: 2em;
      color:#000;
   }
 }
